{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
</head>
<body>
{% include "blog/navbar.html" %}
<div class="container mt-5">
    <h2 class="mb-4">Login</h2>
    <form method="post" action="{% url 'blog:login' %}?next={% url 'blog:home' %}">
    {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <a href="{% url 'blog:forgot-password' %}">Forgot your password</a>
        </div>
    <button type="submit" class="btn btn-primary">Login</button>

    {% if form.errors %}
        <div class="alert alert-danger mt-3">Invalid username or password</div>
    {% endif %}
</form>

</div>
</body>
</html>