<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Django Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/home">Home</a>
                </div>
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'blog:search' %}">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>


                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <span class="nav-item nav-link">Hi, {{ user.username }}</span>
                    <form method="post" action="{% url 'blog:logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-item nav-link"
                                style="border:none; padding:8px; background:none; cursor:pointer;">
                            Logout
                        </button>
                    </form>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'blog:login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'blog:register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
