<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% autoescape off %}
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your account.

Please click the link below to reset your password:
<!--{{ protocol }}://{{ domain }}{% url 'blog:password_reset_confirm' uidb64=uid token=token %}-->

If you didn’t request this, just ignore this email.

Thanks,
Your Blog Team
{% endautoescape %}

</body>
</html>